@tailwind base;
@tailwind components;
@tailwind utilities;
#nav.active{
  color: black;
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid black; /* Set the thickness and color of the underline */
  border-bottom-width: 2px; /* Adjust the thickness to make the underline bold */
  padding-bottom: 2px; /* Adjust the padding to create a gap between text and underline */
  font-weight: bold; 
  
}

.spacing{
  letter-spacing: 3px;

}
body{
  overflow-x: hidden;
}
@keyframes height {
  from{
   height: 10%;
  }
  to{
    height: 145%;
  }
}
.animate-height{
  animation-name: height;
  animation-duration:3s;

}
.profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  overflow: hidden; 
}


.rounded-profile {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.biodata-picture {
  height: 140px;
  width: 140px;
  border-radius: 50%; 
  overflow: hidden; 
}


.biodata-profile {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.details-picture {
  height: 240px;
  width: 240px;
  border-radius: 50%; 
  overflow: hidden; 
}


.details-profile {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
/* .StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */
#dashboard .active {
  background-color: #f06598;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  border-radius: 6px 0px 0px 6px;
}
@media (max-width:1540px) {
  .spacing{
    letter-spacing: normal;
  }
  
}
@media (max-width:840px) {
  .spacing{
    letter-spacing: 3px;
  }
  
}
@media (max-width:840px) {
  .profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    overflow: hidden; 
  }
  
}